body {
    background-color: rgb(255, 255, 255) !important;
}

.container {
    height: 90vh;
    width: 90vw;
    display: flex;
    background-color: rgb(255, 255, 255);

}

/* #region chat container*/

.chat_container {
    border: 1px solid black;
    flex: 3;

    h3 {
        margin: .5rem 0rem !important;
    }
}

.select_chat {
    display: flex;
    align-items: center;
    height: 10%;
    border: 1px solid black;




    div {
        max-width: 30%;
        margin-right: 1rem;
    }

    p {
        min-width: 70%;
        margin: 0 !important;
    }
}

/* #endregion chat container*/


/* #region Chat Window*/



.chat_window {
    border: 1px solid black;
    flex: 4;
    display: flex;
    flex-direction: column;

    h3 {
        margin: .5rem 0rem !important;
    }
}



.send_message_div {
    margin-top: auto;
    height: 10%;
    border: 1px solid black;
}

.message_container {

    border: 1px solid black;

    div {


        align-items: center;

        div {
            max-width: 30%;
            margin-right: 1rem;
            display: flex;
        }

        p {
            min-width: 70%;
            margin: 0 !important;
        }
    }



}



/*#endregion Chat Window*/


/* #region Username*/
.user_container {
    border: 1px solid black;
    flex: 2;

}

.search_user_form {
    display: flex;
    align-items: center;
    height: 10%;
    border: 1px solid black;
}


.message_chatwindow {
    background-color: rgb(233, 227, 227);
    margin: 1rem 1rem;
    border-radius: 20px;
}



/* #endregion Username*/



/*#region Button Div area*/

.button_container {
    display: flex;
    flex-direction: row-reverse;
    width: 90vw;
    border: 1px solid black;

    button {
        margin-left: 1rem;
    }
}